* {
  box-sizing: border-box;
}

body {
  background-color: orange;
  font-family: Helvetica, sans-serif
  
}

.main-header {
  background-color: orange;
}

h1 {  
  font-size: 85px;
  color: gray;
}

p {
 font-size: 40px;
 color: gray;
}

.profile-image {
    width: 100%;
    padding: 5px 0px 0px 0px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  footer .copyright {
    top: 0px;
    font-size: .78em;
    color: white;
    text align: center;
  }
  
  .clearfix {
    clear: both;
  }

  




  