
body {
  color: #878787;
  background-color: orange;
  margin: 0;
}

.main-header {
  background-color: firebrick;
}

h1 {  
  font-size: 72px;
  color: white;
}

p {
 font-size: 20px;
 color: white;
}

.primary-content {
    text-align: center;
  }
  