* {
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  font-family: 'Lato', sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

.main-header {
  margin-top: 0;
  margin-left: 5px;

}

h1 {  
  font-size: 90px;
  color: white;
}

p {
 font-size: 39px;
 color: white;
 margin-left: 10px;
}

.main {
  color: whitesmoke;
}

.email {
    color: #FA6121;
}

.social {
    color: #495E88;
  /* also a nice color: #EDBD3E; */
}

.image {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-left: 0;
    margin-right: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    text-align: center;
  }
  
  footer .copyright {
    top: 0px;
    font-size: .88em;
    color: white;
    text align: center;
  }
  
  .clearfix {
    clear: both;
  }

  




  